@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

@font-face {
  font-family: "Atari";
  src: url("./AtariST8x16SystemFont.ttf");
}

:root {
  --track-height: 40px;

  --timeline-text-over: #ff006a;

  --back-control-width: 150px;
  --timeline-font: "Source Sans 3";
  --meta-font: "Source Sans 3";

  --meta-margins: 2px;
}

::-webkit-scrollbar-track {
  background: var(--track-bg, #ffffff) !important;
}

::-webkit-scrollbar-thumb {
  background: var(--track-fg) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--track-fg, #000000) !important;
}

.highlight {
  background-color: #f610a088;
}

#reg0.highlight {
  background-color: #f610a000 !important;
}

.slideitself {
  height: calc(
    100vh - calc(1 * (var(--track-height, 60px))) - var(--inclui-scroll, 0px)
  ) !important;

  margin-top: 0 !important;
}

.track {
  font-size: 14px;
}

.linhadotempo {
  border-left-style: dotted !important;
}

.registroano {
  font-size: 10px;
}

#prev {
  top: unset !important;
  bottom: calc(8px + var(--inclui-scroll, 0)) !important;

  right: 100px;
}

#next {
  top: unset !important;
  bottom: calc(8px + var(--inclui-scroll, 0)) !important;

  right: 50px;
}

#indice {
  right: 2px !important;
  left: unset !important;
  top: unset !important;
  bottom: calc(11px + var(--inclui-scroll, 0)) !important;
}

#backcontrol {
  display: block;
  right: 0 !important;
  bottom: var(--inclui-scroll, 0) !important;
  width: 150px;
  height: var(--track-height, 25px);
  padding: 0;
}

#tempo {
  width: calc(100vw - 150px);
}

#tracktopicos {
  right: 150px !important;
  bottom: var(--inclui-scroll, 0) !important;
  top: unset !important;
}

#tracktitulos {
  width: 60vw !important;
  top: unset !important;
  bottom: var(--inclui-scroll, 0) !important;
}
